<div class="container loginBox">
    <div class="row">
        <div class="col"></div>
        <div class="col-4">
            <div class="jumbotron">

                <div class="form-group">
                    <h3>Login</h3>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" pInputText [(ngModel)]="username" placeholder="Gebruikersnaam" />
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" pInputText [(ngModel)]="password" placeholder="Wachtwoord" />
                </div>

                <p-button label="Aanmelden" (onClick)="login()"></p-button>
                <a routerLink="/registreren">
                    <p-button label="Registreren"></p-button>
                </a>
            </div>

        </div>
        <div class="col"></div>

    </div>
</div>