/* You can add global styles to this file, and also import other style files */
.fietswinkel-blue {
  background-color: #1c75bb;
}

.fietswinkel-orange {
  background-color: #f7931e;
}

.white-text {
  color:white;
}

body{
  margin: 0px;
  background-color: whitesmoke !important;
}
