<div class="container loginBox">
  <div class="row">
    <div class="col"></div>
    <div class="col-4">
      <div class="jumbotron">
        <div class="form-group">
          <h3>Account aanmaken</h3>
        </div>

        <div class="form-group">
          <input type="text" pInputText [(ngModel)]="user.firstName" placeholder="Voornaam" />
        </div>
        <div class="form-group">
          <input type="text" pInputText [(ngModel)]="user.lastName" placeholder="Achternaam" />
        </div>
        <div class="form-group">
          <input type="text" pInputText [(ngModel)]="user.serialNumber" placeholder="Serialnumber" />
        </div>
        <div class="form-group">
          <input type="text" pInputText [(ngModel)]="user.userName" placeholder="Gebruikersnaam" />
        </div>
        <div class="form-group">
          <input type="password" pInputText [(ngModel)]="user.password" placeholder="Wachtwoord" /><br />
        </div>
        <!--<input type="text" pInputText [(ngModel)]="user.lastName" placeholder="Wachtwoord" /><br />-->

        <a routerLink="/login">
          <p-button label="Terug"></p-button>
        </a>
        <p-button label="Registreren" (onClick)="register()"></p-button>


      </div>
    </div>
    <div class="col"></div>

  </div>
</div>