.layout-topbar-content {
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.logo-style {
  height: 32px;
  width: 32px;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.topbar-text-size {
  font-size: 100%;
}

 .topbar-ui-menubar .ui-menubar  {
  border: 0px solid transparent;
  background: transparent !important;
  color: #f7931e;
  font-size: 100%;
  padding:  0;
  line-height: 0;
}

.topbar-ui-menuitem-icon .ui-menuitem-icon {
  color: white;
}

 .topbar-ui-menuitem-text .ui-menuitem-text {
  color: white;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",
               Roboto,"Helvetica Neue",Arial,sans-serif,
               "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

 .topbar-ui-submenu-icon .ui-submenu-icon {
  color: white;
}

 .topbar-ui-menuitem-link .ui-menuitem-link {
  padding:  0;
  margin-bottom: 4px;

}

 .topbar-ui-submenu-list .ui-submenu-list {
  background:#1c75bb !important;
  border: 0px solid transparent !important;

}

@media(min-width: 768px) {
  #bars {
    flex-direction: column;
  }
}
