<!--<p-menubar></p-menubar>-->
<div class="fietswinkel-blue">
  <div class="layout-topbar-content">
    <div class="d-flex flex-row justify-content-between align-items-center">
      <div class="row">
        <img src="../../../assets/logo.png" class="logo-style">
        <p class="topbar-text-size white-text" style="vertical-align: center; margin-bottom: 0;">Bike Box</p>
      </div>
      <div *ngIf="isLoggedIn">
        <p-menubar [model]="items" [autoDisplay]="false">
        </p-menubar>
      </div>
    </div>
  </div>
</div>