<!--The content below is only a placeholder and can be replaced.-->
<div style="width: 100vw;">
  <app-top-bar></app-top-bar>
</div>
<div>
  <div class="d-flex flex-row" style="min-height: 95vh; width: 100vw;">
    <div class="p-2">
      <app-side-menu></app-side-menu>
    </div>
    <div class="mr-auto" style="min-height: 95vh; width: 100%; padding: 8px;" >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

