.box-container {
  position: relative;
  height: 150px;
  padding: 45px 0;
}

.box-swap {
  position: absolute;
  text-align: center;
  width: 150px;
  height: 60px;
  padding: 15px 35px;
  line-height: 30px;

  &.static-block {
    transition: all 0.3s ease-out;
  }
}
