<div style="width: 100%; height: 100%;">
  <gridster [options]="options">
    <div ngFor *ngFor="let item of dashboard">
      <gridster-item [item]="item">
        Gridster item
      </gridster-item>
    </div>
  </gridster>
</div>
